body {
  background-image: url('image/mainimg.png');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  font-family: Verdana, Tahoma, sans-serif;
}
ul#navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  overflow: hidden;
  width: 100px;
  height: 92.5vh;
}
li#navitem {
  display: block;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  border-bottom: 2px black solid;
  height: 6.5%;
  word-wrap: break-word;
  margin: auto;
}
li#navitem a {
  text-decoration: none;
  text-align: center;
  color:green;
  font-size: 0.9vw;
}

li#navitem:active {
  background-color: transparent;
}
